<div id="dashboardchart"></div>
<script type="text/javascript">
  $(function() {
      $('#dashboardchart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            width: 200,
            height: 200
        },
        title: {
            text: ''
        },
        plotOptions: {
            zIndex: 1000,
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: false
            }
        },
        series: [{
            type: 'pie',
            name: '<%= t("workinghours")%>',
            data: [
                <%= @projects.map { |project|  "['#{project.name}', #{project.weekly_workinghours_for(current_user)} ]" }.join(",\n").html_safe %>
            ]
        }]
    });
  });
    </script>